<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdiM93sqd3geqU0w3WvSeFDIXU0NLs1GI</string>
	<key>GCM_SENDER_ID</key>
	<string>94546899933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shashank.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-cadb8</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-cadb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94546899933:ios:43b0dfa7b4948e089efc34</string>
</dict>
</plist>